#size{
  width: 430px;
  font-size: xx-large;
  font-style: italic;
  color: black;
  justify-content: center;
  box-shadow: 0px 0px 10px 1px;
  margin-top: -30px;
  margin-left: 450px;
}
#p{
  border: 2px solid;
  width: 320px;
  height: 510px;
  margin-top: 50px;
  background-image: url(./pexels-photo-531880.jpeg);
  margin-left:500px;
}
#p1{
  border: 2px solid;
  width: 300px;
  height: 60px;
  margin-top: 15px;
  margin-left: 9px;
  display:flex;
  justify-content: end;
  font-size: xx-large;
  background-color: rgb(196, 226, 216);
}
#key{
  /* border: 2px solid; */
  width: 300px;
  height: 400px;
  margin-top: 15px;
  margin-left: 9px;
  /* background-color: aqua; */
}
#k1,#k2,#k3,#k4,#k5{
  /* border: 1px solid; */
  width: 270px;
  height: 70px;
   margin-top:5px ;
   margin-left: 15px;
   font-size: 30px;
}
.b{
  border: 1px;
  border-radius: 80% 80%;
  width: 50px;
  height: 50px;
  margin-top:10px;
  margin-left: 10px;
  font-size: 30px;
  color: rgb(2, 1, 4);
  background-color: rgb(255, 255, 252);
}
.b:hover {
  background-color:#f4a30c;
  transition: 0.1s;
}
.a{
  border: 1px;
  border-radius: 80% 80%;
  width: 50px;
  height: 50px;
  margin-top:10px;
  margin-left: 10px;
  font-size: 30px;
  color: rgb(2, 1, 4);
  background-color: rgb(255, 255, 252);
}
.a:hover {
  background-color:#0548c4;
  transition: 0.1s;
}
#b1,#b2{
  border: 1px;
  border-radius: 70% 70%;
  width: 115px;
  height: 50px;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 30px;
  color: rgb(1, 2, 1);
  background-color: rgb(255, 255, 255);
}
#b1:hover,
#b2:hover{
  background-color:#2d8501;
  transition: 0.1s;
}
body{
  background-color: aliceblue;
}